In [1]:
import pandas as pd
import numpy 
import matplotlib.pyplot as plt 
from sqlalchemy import create_engine
import os
from math import ceil
from gspread_pandas import Spread

In [2]:
engine = create_engine('postgresql://{0}:{1}@{2}:{3}/{4}'.format(os.environ['DJANGO_USER'],
                                                                 os.environ['DJANGO_PASS'],
                                                                 os.environ['DJANGO_HOST'],
                                                                 os.environ['DJANGO_PORT'],
                                                                 os.environ['DJANGO_DB']),
                       connect_args={"options": "-c timezone=America/Mexico_City"})

In [3]:
#Queries
units_info = '''select distinct(listing_nickname), 
                list.bathrooms as bathrooms, 
                list.bedrooms as bedrooms
                from api_reservation as res
                join api_listing as list on res.listingid = list.ID
                order by listing_nickname '''

median_nights = ''' select listing_nickname, 
                percentile_disc(0.5) within group (order by nightscount) as nights from api_reservation
                where status= 'confirmed'
                group by listing_nickname'''

In [16]:
amenities = pd.read_csv('./Amenities.csv')

days = 10
nights = pd.read_sql(median_nights, engine)
nights['checkouts'] = days / nights['nights']

units = pd.read_sql(units_info, engine)

units = units.merge(nights.copy(), on = 'listing_nickname').dropna()

units.loc[units['checkouts'] > 7, 'checkouts'] = 7
units.loc[units['checkouts'] < 2, 'checkouts'] = 2
units = units[~units['listing_nickname'].apply(lambda x: '(X)' in x)]
units = units[~units['listing_nickname'].apply(lambda x: '(R)' in x)]
units.head()

  listing_nickname  bathrooms  bedrooms  nights  checkouts
0    AMS 185 - 302          2         2       3   3.333333
1    AMS 297 - 101          2         2       3   3.333333
2   ASOLA 72 - 501          2         2       4   2.500000
3    BEF 175 - 101          1         1       2   5.000000
4    BEF 175 - 102          1         1       3   3.333333

In [46]:
def get_inventory(unit, amenities, is_building = False):
    '''
    unit: This function takes a dataframe with:
    listing_nickname | bathrooms | bedrooms | nights | checkouts
    ------------------------------------------------------------
    
    It may be a unit, or a building with all the 
    values summed up.
    
    amenities: A dataframe of products with:
    Product | Per | Quantity
    ------------------------
    
    is_building: Set to True if it's a building
    
    EXAMPLES:
    
    Unit:
    unit = units[unit['listing_nickname'] == 'ASOLA 72 - 501']
    get_inventory(unit, amenities)
    
    Building:
    building = units[units['listing_nickname'].str.startswith('BEF')].sum()
    get_inventory(building, amenities, True)
    '''
    if isinstance(unit, pd.DataFrame):
        unit = unit.iloc[0] # Series type is required
    
    print('Unit',unit['listing_nickname'])
    print('Days', days)
    print('Nights', unit['nights'])
    print('Checkouts', unit['checkouts'])
    print('Bedrooms',unit['bedrooms'])
    print('Bathrooms',unit['bathrooms'])
    

    amenities.loc[amenities['Per'] == 'Unit', 'Sugg_Inv'] = unit['checkouts'] * amenities['Quantity']
    amenities.loc[amenities['Per'] == 'Bathroom', 'Sugg_Inv'] = unit['checkouts'] * amenities['Quantity'] \
                                                                * unit['bathrooms']
    amenities.loc[amenities['Per'] == 'Bedroom', 'Sugg_Inv'] = unit['checkouts'] * amenities['Quantity'] \
                                                               * unit['bedrooms']
        
        
    amenities['Sugg_Inv'] = amenities['Sugg_Inv'].apply(ceil)
    amenities = amenities.sort_values(by = 'Sugg_Inv', ascending= False)
    
    # To save in CSV
#     if is_building:
#         amenities.to_csv('Inventory Suggested - ' + unit['listing_nickname'][:4] + '.csv', index = False)
#     else:
#         amenities.to_csv('Inventory Suggested - ' + unit['listing_nickname'] + '.csv', index = False )
    
    # To save in spreadsheet
    if is_building:
        spread.df_to_sheet(df = pd.DataFrame(unit), index = False, headers=True, start=(1,2), 
                           replace = False, sheet = unit['listing_nickname'][:8])
        
        spread.df_to_sheet(df=amenities[['Product', 'Sugg_Inv']], index=False, headers = True, start=(8,1), 
                           replace=False, sheet=unit['listing_nickname'][:8])
        
    else:
        spread.df_to_sheet(df = pd.DataFrame(unit), index = False, headers=True, start=(1,2), 
                           replace = False, sheet = unit['listing_nickname'])
        
        spread.df_to_sheet(df=amenities[['Product', 'Sugg_Inv']], index=False, headers = True, start=(8,1), 
                           replace=False, sheet=unit['listing_nickname'])

In [6]:
spread = Spread('Inventario Sugerido')

In [17]:
units['listing_nickname'].to_list()

['AMS 185 - 302',
 'AMS 297 - 101',
 'ASOLA 72 - 501',
 'BEF 175 - 101',
 'BEF 175 - 102',
 'BEF 175 - 103',
 'BEF 175 - 201',
 'BEF 175 - 202',
 'BEF 175 - 203',
 'BEF 175 - 301',
 'BEF 175 - 302',
 'BEF 175 - 303',
 'BEF 175 - 401',
 'BEF 175 - 402',
 'BEF 175 - 403',
 'CAM 252 - 402',
 'CAM 428 - 01',
 'CAM 428 - 02',
 'CAM 428 - 03',
 'CAM 428 - 04',
 'CAM 428 - 05',
 'CAM 428 - 06',
 'CAM 428 - 07',
 'CAM 428 - 08',
 'CAM 428 - 09',
 'CAM 428 - 10',
 'CAM 428 - 11',
 'CAM 428 - 12',
 'CPE - 414 - 602',
 'CYV 25 - 202',
 'CYV 25 - 203',
 'CYV 25 - 204',
 'CYV 25 - 205',
 'CYV 25 - 206',
 'EAP 362 - 1002',
 'ENS 8 - 01',
 'GRP 95 - 02',
 'GRP 95 - 03',
 'GRP 95 - 05',
 'GRP 95 - 06',
 'HAM 14 - PH7',
 'HEG 134 - 602',
 'HOM 1433 - 204',
 'HOM 1433 - 603',
 'HOM 1433 - 704',
 'HOM 1433 - PH2',
 'LAF 19 - 101',
 'LER 76 - 205',
 'LIS 6 - B301',
 'MARNE 15 - 302',
 'MER 190 - 05',
 'MICH 66 - A501',
 'NAZ 174 - 101',
 'QRO 205 - 01',
 'QRO 205 - 02',
 'QRO 240 - 704',
 'QRO 240 - 904',
 'RDA 94 - 502',
 'RHIN 82 - A2',
 'ROM 4 - 02',
 'ROM 4 - 03',
 'ROM 4 - 04',
 'SEN 90 - 1C',
 'SLP 44 - 501',
 'SLP 78 - 402',
 'TEM 40 - 103',
 'TEM 40 - 104',
 'TEM 40 - 201/202',
 'TEM 40 - 203',
 'TEM 40 - 204',
 'TEM 40 - 301',
 'TEM 40 - 302',
 'TEM 40 - 303',
 'TEM 40 - 304',
 'TEM 40 - 401',
 'TEM 40 - 403',
 'TEM 40 - 404',
 'TIB 56 - 101',
 'TIB 56 - 102',
 'TIB 56 - 201',
 'TIB 56 - 301',
 'TIB 56 - 302',
 'TIB 56 - 401',
 'TIB 56 - 402',
 'TIB 56 - 501',
 'TIB 56 - 502',
 'TIB 56 - 602']

In [48]:
building = units[units['listing_nickname'].str.startswith('QRO 205')].sum()

get_inventory(building, amenities, is_building= True)

Unit QRO 205 - 01QRO 205 - 02
Days 10
Nights 7
Checkouts 5.833333333333334
Bedrooms 6
Bathrooms 4

In [41]:
unit = units[units['listing_nickname'] == 'SLP 78 - 402']
get_inventory(unit, amenities)

Unit SLP 78 - 402
Days 10
Nights 4
Checkouts 2.5
Bedrooms 2
Bathrooms 2

In [39]:
building = units[units['listing_nickname'].str.startswith('TIB 56')].sum()

get_inventory(building, amenities, is_building= True)

Unit TIB 56 - 101TIB 56 - 102TIB 56 - 201TIB 56 - 301TIB 56 - 302TIB 56 - 401TIB 56 - 402TIB 56 - 501TIB 56 - 502TIB 56 - 602
Days 10
Nights 39
Checkouts 28.666666666666664
Bedrooms 20
Bathrooms 20

In [10]:
amenities.sort_values(by = 'Sugg_Inv', ascending= False)

                  Product       Per  Quantity  Sugg_Inv
34              Algodones  Bathroom      1.00       490
32                Kleenex  Bathroom      1.00       490
31             Papel Baño  Bathroom      1.00       490
30          Crema Ajolote   Bedroom      1.00       490
29           Kit ajolote    Bedroom      1.00       490
27              Ear Plugs   Bedroom      1.00       490
23      Pasta  de dientes   Bedroom      1.00       490
22        Cepillo Dientes   Bedroom      1.00       490
21               Antifaz    Bedroom      1.00       490
33     Bolsas para basura      Unit      5.00       205
28              Cotonetes  Bathroom      0.33       162
26  Toalla Desmaquillante  Bathroom      0.33       162
25               Tampones  Bathroom      0.33       162
24        Toalla Femenina  Bathroom      0.33       162
1            Agua Natural      Unit      2.00        82
0            Agua Mineral      Unit      2.00        82
10       Café Dolce Gusto      Unit      1.00        41
5                  Azucar      Unit      1.00        41
2         Cerveza Cayaco       Unit      1.00        41
3       Cerveza Colimita       Unit      1.00        41
14              Te Herbal      Unit      1.00        41
13              Te Tizana      Unit      1.00        41
12              Te Blanco      Unit      1.00        41
11               Te Verde      Unit      1.00        41
4             Kutzi/Dulce      Unit      1.00        41
9          Café Verazcruz      Unit      1.00        41
8             Café Oaxaca      Unit      1.00        41
7              Café Decaf      Unit      1.00        41
6            Café Chiapas      Unit      1.00        41
20            Servitoalla      Unit      0.66        27
16               Pimienta      Unit      0.33        14
15             Aceite PAM      Unit      0.33        14
19            Servilletas      Unit      0.33        14
18                    Sal      Unit      0.33        14
17                  Miel       Unit      0.33        14